---
import Title from "../../ui/Title/Title.astro";
import '../../styles/variables.css';
import './PreventionAwareness.css';

const articles = [

{
    id: 1,
    title: "Prévenir l’hyperacousie : protégez vos oreilles, préservez votre avenir 🎧",
    description :"Nos oreilles sont précieuses… et fragiles. Une seule exposition à un bruit trop fort peut provoquer des dégâts irréversibles. L’hyperacousie — une hypersensibilité douloureuse aux sons — peut bouleverser une vie entière. Pourtant, dans la majorité des cas, elle pourrait être évitée grâce à la prévention et à la sensibilisation.",
    link: "/articles/article-1"
},
{
    id: 2,
    title: "Pourquoi la prévention est essentielle ?",
    description :"L’hyperacousie est une condition souvent méconnue, mais elle affecte profondément la vie de ceux qui en souffrent. En sensibilisant le public à cette réalité, nous pouvons favoriser une meilleure compréhension et un soutien accru pour les personnes touchées. Ensemble, nous pouvons créer un environnement plus inclusif et empathique.",
    link: "/articles/article-2"
}
]

---

<section class="section-prevention-awareness">
    <Title
        text="Prévention sensibilisation"
        className="section-title-page-prevention-awareness"
        level="3"
    />

</section>