---
import Title from "../../ui/Title/Title.astro";
import '../../styles/variables.css';
import './PreventionAwareness.css';
import ArticleCard from "../ArticleCard/ArticleCard.astro";
import articles from '../../data/articles.json';

---

<section class="section-prevention-awareness">
    <Title
        text="Prévention sensibilisation"
        className="section-title-page-prevention-awareness"
        level="3"
    />
      <div class="article-card-list-prevention-awareness">
    {articles.map(article => (
      <ArticleCard {...article} />
    ))}
  </div>

</section>