---
import Title from "../../ui/Title/Title.astro";
import "./Petition.css";
import "../../styles/variables.css";
import Button from "../Button/Button.astro";
---

<section class="association-section">
  <div class="association-image-container">  
    <img 
      src="/femme-tournant-le-dos-tv.webp"
      alt="Femme tournant le dos à la télévision sans sous-titrage, illustrant la nécessité du sous-titrage universel"
      class="image-petition"
      loading="lazy"
      width="400"
      height="300"
    />
  </div>
      
  <div class="association-content">
    <Title 
      text="Signez pour un monde accessible"
      className="mb-4 section-title"
      level="2"
    />
    <p class="description-text-petition">
      Soutenez le sous-titrage universel et en temps réel !
    </p>
    <Button 
      variant="coral" 
      size="sm"
      href="https://www.mesopinions.com/petition/social/acces-universel-titrage-temps-reel-toutes/240092"
      aria-label="Adhérer à l'association ou faire un don via HelloAsso"
     target="_blank"
     rel="noopener noreferrer"
      >
      Signer la pétition
    </Button>
  </div>
</section>
