---
import Title from "../../ui/Title/Title.astro";
import "./Petition.css";
import "../../styles/variables.css";
---

<section class="association-section">
  <div class="association-image-container">  
    <img 
      src="/public/Miniature-pétition-en-ligne.webp"
      alt="Femme tournant le dos à la télévision sans sous-titrage, illustrant la nécessité du sous-titrage universel"
      class="image-petition"
      loading="lazy"
      width="400"
      height="300"
    />
  </div>
      
  <div class="association-content">
    <Title 
      text="Signez pour un monde accessible"
      className="mb-4 section-title"
      level="2"
    />
    <p class="description-text">
      Soutenez le sous-titrage universel et en temps réel !
    </p>
  </div>
</section>
