.mobile-logo-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mobile-navbar-container {
  display: block;
}

.desktop-hero-section,
.desktop-nav-section {
  display: none;
}

.logo-text-mobile{
   font-family: 'Oleo Script Swash Caps', cursive;
   font-size: 1.3rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   line-height: 1.2;
}

.logo-text-mobile p {
   margin: 0;
   padding: 0;
}

.size-logo-mobile {
  height: 6rem;
  width: auto;
}


@media (min-width: 900px) {
  .mobile-logo-section,
  .mobile-navbar-container {
    display: none !important;
  }

  .desktop-hero-section,
  .desktop-nav-section {
    display: block !important;
  }
}
