
.mobile-logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-navbar-container {
  display: block;
}

.desktop-hero-section,
.desktop-nav-section {
  display: none;
}

@media (min-width: 768px) {
  .mobile-logo-section,
  .mobile-navbar-container {
    display: none !important;
  }

  .desktop-hero-section,
  .desktop-nav-section {
    display: block !important;
  }
}
