.scroll-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1000;
  background: var(--color-teal);
  border: white solid 1px;
  cursor: pointer;
  padding: 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
  width: 56px;
  height: 56px;
  border-radius: 50%; /* <-- Makes the button a circle */
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-to-top:hover {
  transform: scale(1.1);
}
