---
import Button from "../../ui/Button/Button.astro";
import Title from "../../ui/Title/Title.astro";
import './Form.css';

---

<section class="contact-form-section">
 <div style="text-align:center">
    <Title text="Envoie-nous un message" level='3' />
  </div>
  <form 
  class="contact-form" 
  id="contact-form"
  autocomplete="off"
  data-service-id={import.meta.env.VITE_SERVICE_ID}
  data-template-id={import.meta.env.VITE_TEMPLATE_ID}
  data-public-key={import.meta.env.VITE_PUBLIC_KEY}
>
  <div class="form-group">
    <label for="lastname">Nom</label>
    <input type="text" id="lastname" name="user_name" required />
  </div>
  <div class="form-group">
    <label for="firstname">Prénom</label>
    <input type="text" id="firstname" name="user_firstname" required />
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" id="email" name="user_email" required />
  </div>
  <div class="form-group">
    <label for="phone">Numéro de téléphone</label>
   <input
  type="tel"
  id="phone"
  name="user_phone"
<input
  type="tel"
  id="phone"
  name="user_phone"
  pattern="^[0-9\s\+\-]+$"
  inputmode="numeric"
  required
/>

  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea id="message" name="message" rows="5" required></textarea>
  </div>
    <div class="form-group">
    <label for="accept" class="checkbox-label">
      <input type="checkbox" id="accept" name="accept" required />
      J’accepte la collecte et le traitement de mes données personnelles conformément à la <a class="color-text-contact"href="/politique-confidentialite" target="_blank">politique de confidentialité</a>.
    </label>
  </div>
  <Button 
    variant="teal" 
    size="sm"
    aria-label="Envoyer le message via le formulaire de contact"
    type="submit"
  >
    Envoyer
  </Button>  
</form>
</section>


<script src="./Form.js"></script>