<!-- filepath: c:\Users\prisc\Documents\pro\hyperacousie_solidarite\src\ui\Plaquette\Plaquette.astro -->
---
import Button from "../Button/Button.astro";
import "./Plaquette.css";
import "../../styles/variables.css";
---

<section class="plaquette-section">
  <div class="plaquette-container">
    <div class="plaquette-image-container">
      <img 
        src="/plaquette.webp"
        alt="Illustration de la plaquette de l'association Hyperacousie Solidarité"
        class="image-plaquette"
        loading="lazy"
        width="150"
        height="auto"
      />
    </div>
    
    <div class="plaquette-content">
      <p class="text-bold">"Notre plaquette résume notre mission et nos actions. Feuilletez-la dès maintenant !"</p>
      <p>À partager sans modération..</p>
      <Button 
        variant="teal" 
        size="sm"
        href="/plaquette-hyperacousie-solidarite.pdf"
        aria-label="Télécharger la plaquette"
      >
        Télécharger la plaquette
      </Button>
    </div>
  </div>
</section>