---
import "./Conclusion.css";
---

<section class="section-conclusion">
    <img 
    src="conclusion.webp" 
    alt="Image représentant la conclusion" 
    class="conclusion-image" 
    />
    <p class="conclusion-text">L’hyperacousie est un <span class="text-coral">handicap invisible</span> mais bien réel. Mieux la comprendre, c’est le premier pas pour améliorer la qualité de vie des personnes concernées, développer la recherche et faire évoluer les prises en charge.
    </p>
   </section>   