---
import "./LiveWith.css";
import Title from '../../ui/Title/Title.astro';
import liveWithData from '../../data/liveWith.json' ;
import { marked } from 'marked';
---

<section class="section-livewith">
   <Title
      text="Vivre avec l’hyperacousie : soutien et accompagnement"
      className="mb-4 section-title"
      level="2"
    />
    <p>
        L’hyperacousie n’est pas qu’une pathologie physique : c’est aussi une <span class="text-bold">épreuve psychologique</span>.
    </p>
    <p> L'association propose :</p>
 <div class="livewith-grid">
    {liveWithData.map(item => (
    <div class="livewith-item" aria-label={item.title.replace(/<[^>]+>/g, '')}>
        <img src={item.image} alt={item.title.replace(/<[^>]+>/g, '')} width="80" height="80" />
        <div set:html={marked(item.title)} />
        {item.email && (
        <a
            href={`mailto:${item.email}`}
            class="livewith-email"
        >
            {item.email}
        </a>
        )}
    </div>
    ))}
</div>
</section>