---
import Form from '../components/Form/Form.astro';
import Layout from '../layouts/Layout.astro';
import SectionButtonMore from '../ui/SectionButtonMore/SectionButtonMore.astro';
import Title from '../ui/Title/Title.astro';
import '../styles/variables.css';
import '../styles/contact.css';
import Donations from '../ui/Donations/Donations.astro';
import HowWork from '../ui/HowWork/HowWork.astro';
---

<Layout 
  title="Contact "
  description="Contactez l'association Hyperacousie Solidarité"
>

  <section style="text-align:center">
    <Title text="Contact" level='2' />
  </section>

<section class="contact-sections">
  <Form />
  <div class="contact-donations">
    <SectionButtonMore />
    <HowWork />
    <Donations />
  </div>
  
</section>
  

</Layout>