---
import Form from '../components/Form/Form.astro';
import Layout from '../layouts/Layout.astro';
import Title from '../ui/Title/Title.astro';
import '../styles/variables.css';
import '../styles/contact.css';
---

<Layout 
  title="Contactez Hyperacousie Solidarité – Association d’aide"
  description="Posez vos questions ou demandez des conseils sur l’hyperacousie. Contactez notre association pour soutien, informations et prévention auditive."
>
  <section style="text-align:center">
    <Title text="Contact" level='2' />
  </section>
  <Form />
</Layout>