---
import Form from '../components/Form/Form.astro';
import Layout from '../layouts/Layout.astro';
import SectionButtonMore from '../ui/SectionButtonMore/SectionButtonMore.astro';
import Title from '../ui/Title/Title.astro';
---

<Layout 
  title="Contact "
  description="Contactez l'association Hyperacousie Solidarité"
>

  <div style="text-align:center">
    <Title text="Contact" level='2' />
  </div>

  <Form />  
  <SectionButtonMore />
  

</Layout>