---
import Layout from '../layouts/Layout.astro';
import LegalNotices from '../components/LegalNotices/LegalNotices.astro';
---

<Layout 
  title="Mentions légales"
  description="Mentions légales de l'association Hyperacousie Solidarité"
>
 <LegalNotices />

    
  </section>
</Layout>