---
import FactSheet from '../components/FactSheet/FactSheet.astro';
import NetworkingSharing from '../components/NetworkingSharing/NetworkingSharing.astro';
import PreventionAwareness from '../components/PreventionAwareness/PreventionAwareness.astro';
import ReflexSheet from '../components/ReflexSheet/ReflexSheet.astro';
import ScientificResourcesTestimonials from '../components/ScientificResourcesTestimonials/ScientificResourcesTestimonials.astro';
import Layout from '../layouts/Layout.astro';
import Plaquette from '../ui/Plaquette/Plaquette.astro';
import Title from '../ui/Title/Title.astro';
import '../styles/variables.css';
---

<Layout 
  title="Ressources Hyperacousie : guides, témoignages et cartes"
  description="Accédez à des fiches pratiques, études, témoignages et cartes interactives pour mieux comprendre, prévenir et vivre avec l’hyperacousie."
>
 <div style="text-align:center">
    <Title
      text="Ressources"
      className="section-title-page"
      level="2"
    />
  </div>

<FactSheet />
<ReflexSheet />
<ScientificResourcesTestimonials />
<NetworkingSharing />
<PreventionAwareness />
<Plaquette />

</Layout>