---
import FactSheet from '../components/FactSheet/FactSheet.astro';
import NetworkingSharing from '../components/NetworkingSharing/NetworkingSharing.astro';
import PreventionAwareness from '../components/preventionAwareness/preventionAwareness.astro';
import ReflexSheet from '../components/ReflexSheet/ReflexSheet.astro';
import ScientificResourcesTestimonials from '../components/ScientificResourcesTestimonials/ScientificResourcesTestimonials.astro';
import Layout from '../layouts/Layout.astro';
import Title from '../ui/Title/Title.astro';
---

<Layout 
  title="Ressources "
  description="Des ressources pour mieux comprendre et vivre avec l'hyperacousie"
>
 <div style="text-align:center">
    <Title
      text="Ressources"
      className="mb-4 section-title-page"
      level="2"
    />
  </div>

<FactSheet />
<ReflexSheet />
<ScientificResourcesTestimonials />
<NetworkingSharing />
<PreventionAwareness />

</Layout>