---
import Layout from '../layouts/Layout.astro';
import Title from '../ui/Title/Title.astro';
---

<Layout 
  title="Témoignages "
  description="Des témoignages de personnes atteintes d'hyperacousie"
>
  <div style="text-align:center;">
    <Title
      text="En cours de construction"
      className="mb-4 section-title"
      level="2"
    /></div>
  

      <div style="text-align:center; margin-top:2rem;">
    <img 
      src="/construction.png" 
      alt="Page en cours de construction" 
      style="max-width:200px; width:100%; height:auto;" 
    />
  </div>
    

</Layout>