---
import ShortTestimonials from '../components/ShortTestimonials/ShortTestimonials.astro';
import Layout from '../layouts/Layout.astro';
import Title from '../ui/Title/Title.astro';
import VideoRessource from '../ui/VideoRessource/VideoRessource.astro';
---

<Layout 
  title="Témoignages "
  description="Des témoignages de personnes atteintes d'hyperacousie"
>
  <div style="text-align:center">
    <Title text="Témoignages" level='2' />
  </div>

  <ShortTestimonials />
  <VideoRessource /> 
  
</Layout>