---
import GreatTestimonials from '../components/GreatTestimonials/GreatTestimonials.astro';
import ShortTestimonials from '../components/ShortTestimonials/ShortTestimonials.astro';
import Layout from '../layouts/Layout.astro';
import SectionButtonMore from '../ui/SectionButtonMore/SectionButtonMore.astro';
import Title from '../ui/Title/Title.astro';
import VideoRessource from '../ui/VideoRessource/VideoRessource.astro';
---

<Layout 
  title="Témoignages Hyperacousie : récits et vidéos de vie réelle"
  description="Découvrez les histoires de personnes vivant avec l’hyperacousie : récits, témoignages vidéos et expériences uniques pour sensibiliser et informer."
>
  <div style="text-align:center">
    <Title text="Témoignages" level='2' />
  </div>
  <ShortTestimonials />
  <VideoRessource /> 
  <GreatTestimonials />
  <SectionButtonMore />
  
</Layout>