.margin-page-comprendre {
  margin: 0 3rem;
}

.margin-page-comprendre + .margin-page-comprendre {
  margin-top: 1.5rem;
}

.definition-section-vertical {
  margin: 12rem 4rem 2rem 4rem;
}

@media (max-width: 900px) {
  .definition-section-vertical {
    margin: 8rem 0.5rem 1rem 0.5rem;
  }

  .margin-page-comprendre {
    margin: 2rem 2.5rem;
  }
}
