.great-testimonials-section {
  background-color: rgba(255, 111, 97, 0.5);
  padding: 1rem 1rem 3rem 1rem;
  margin: 2rem 0;
}

.great-testimonial-card {
  background: var(--color-background-white);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.great-testimonial-extract {
  font-style: italic;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0 1.5rem;
}

.great-testimonial-btn {
  background-color: var(--color-teal);
  color: var(--color-white);
  border-radius: 6px;
  padding: 0.5em 1.2em;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 1rem;
}
.great-testimonial-btn:hover {
  background-color: #008080;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-coral) !important;
  fill: var(--color-coral) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--color-coral) !important;
}

.swiper-pagination-bullet {
  background: #ff6f61 !important;
  opacity: 0.1;
}

.swiper-pagination-bullet-active {
  background: #ff6f61 !important;
  opacity: 1;
}
