---
import Title from "../Title/Title.astro";



---

<section>
 <Title 
      text="Découvrez la chaine Youtube Hyperacusis Central :"
      className="mb-4 section-title"
      level="2"
    />

    

</section>
