.section-title-video-ressource {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.video-ressource-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Conteneurs vidéos communs */
.video-ressource-container,
.video-fredo-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 900px;
  align-items: center;
  justify-content: center;
}

.video-ressource-container {
  margin-bottom: 4rem;
}

/* Colonnes gauche/droite et contenu */
.video-ressource-left,
.video-fredo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.video-ressource-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-ressource-logo {
  width: 150px;
  height: auto;
}

.video-ressource-title {
  font-size: 1.25rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.video-ressource-desc {
  font-size: 1rem;
}

.video-ressource-iframe {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  border: none;
}

.youtube-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  background: #ff0000;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(245, 6, 6, 0.12);
  transition: background 0.2s;
  border: 1px solid;
  cursor: pointer;
}

.youtube-btn:hover {
  background: #cc0000;
}

.youtube-btn-icon {
  display: inline-block;
  vertical-align: middle;
}

/* Responsive desktop */
@media (min-width: 768px) {
  .video-ressource-container,
  .video-fredo-container {
    flex-direction: row;
    gap: 2rem;
  }

  .video-ressource-left {
    width: 35%;
  }

  .video-ressource-right {
    width: 60%;
  }

  .video-ressource-iframe {
    max-width: 600px;
  }

  .video-fredo-container .video-ressource-iframe,
  .video-fredo-content {
    flex: 1;
  }
}
