---
import './Solutions.css';
import Title from "../../ui/Title/Title.astro";
import Card from "../Card/Card.astro";
import solutions from '../../data/solutions.json';
---

<section class="section-solutions-background">
    <div class="solutions-container">
        <Title
            text="Quelles solutions et pistes de prise en charge ?"
            className="mb-4 section-title"
            level="2"
        />
        <p>Actuellement, il n'existe pas de traitement unique pour "guérir" l'hyperacousie. La prise en charge repose sur plusieurs approches complémentaires :</p>

        <div class="swiper solutions-swiper">
            <div class="swiper-wrapper">
                {solutions.map((solution) => (
                    <div class="swiper-slide">
                        <Card 
                            subtitle={solution.title}
                            items={solution.items}
                            className="solution-card "
                        />
                    </div>
                ))}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>


<script src="./Solutions.js"></script>