---
import { BsArrowDownCircle } from "react-icons/bs";
import Title from "../Title/Title.astro";
---

<section>
 <Title text="Comment ça marche ?" level='3' />
<div style="text-align:center; margin-top: 0.5rem;">
    <BsArrowDownCircle size={100} color="#ff6f61" aria-hidden="true" focusable="false" />
  </div>
 
</section>