/* mobile by default */
.need-you-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 1.5rem;
}

.need-you-content {
  flex: 1;
}

.need-you-image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-need-you {
  max-width: 100%;
  height: auto;
  margin: 1rem;
  border-radius: 0.5rem;
}

.need-you-content p {
  text-align: justify;
}

/* Desktop */
@media (min-width: 768px) {
  .need-you-section {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 1rem;
    padding: 0 3rem;
  }

  .need-you-content {
    flex: 0 0 70%;
  }

  .need-you-image-container {
    flex: 0 0 30%;
    align-items: center;
    margin: 1rem 3rem;
    text-align: center;
  }

  .image-need-you {
    margin: 0;
    max-width: 50%;
    margin: 2rem 0 4rem 0;
    height: auto;
  }
}
