---
import Title from "../Title/Title.astro";
import '../../styles/variables.css';
import './Donations.css';
import Button from "../Button/Button.astro";

---

<section class="explanation">
      <Title text="Adhésions & Dons" level='3' className="explanation-title"/>

  <p>
    Il existe deux types d’adhésion&nbsp;:
    <ul>
      <li>
        <strong>Solidaire</strong> : envoi gratuit à la demande de 2 stickers «&nbsp;Handicap hyperacousie&nbsp;».
      </li>
      <li>
        <strong>Premium</strong> : envoi gratuit à la demande de 2 stickers «Handicap hyperacousie» + une carte «Handicap auditif».
      </li>
    </ul>
    Il est aussi possible de faire un don libre sans adhérer.<br />
    <br />
    <strong>Offre spéciale :</strong> pour toute adhésion effectuée dès maintenant, les derniers mois de l’année 2025 sont offerts. <strong>L’adhésion reste valable jusqu’au 31/12/2026.</strong>
  </p>

  <div class="donation-form-download">
    <Title text="Paiement par chèque ou virement" level="4" className="donation-form-title" />
    <p>
      Pour tout paiement par chèque ou virement, merci de télécharger et compléter le formulaire ci-dessous, puis de le retourner à l’adresse indiquée.
    </p>
  
  <Button
    href="/formulaire-adhesion-don.pdf"
    download="true"
    target="_blank"
    variant="teal"
    size="sm"
    aria-label="Télécharger le formulaire d'adhésion et don PDF"
    class="donation-form-link"
  >
    Télécharger le formulaire PDF
  </Button>
  


  </div>

</section>
