---
import Title from "../Title/Title.astro";
import '../../styles/variables.css';
import './Donations.css';
import Button from "../Button/Button.astro";

---

<section class="explanation">
  <Title text="Adhésions & Dons" level='3' className="explanation-title"/>
  <p>
  Il existe deux types d’adhésion :
  <ul>
    <li>
      <span class="text-bold">Solidaire</span> : envoi gratuit à la demande de 2 stickers «&nbsp;Handicap hyperacousie&nbsp;».
    </li>
    <li>
      <span class="text-bold">Premium</span> : envoi gratuit à la demande de 2 stickers «Handicap hyperacousie» + une carte «Handicap auditif».
    </li>
  </ul>
</p>
<p>Il est aussi possible de faire un don libre sans adhérer.</p>
<p class="text-bold">Offre spéciale :</p>
<p>
  Pour toute adhésion effectuée dès maintenant, les derniers mois de l’année 2025 sont offerts.
  <span class="text-bold">L’adhésion reste valable jusqu’au 31/12/2026.</span>
</p>
<div style="text-align:center;">
  <Button 
    variant="teal" 
    size="sm"
    href="https://www.helloasso.com/associations/hyperacousie-solidarite"
    aria-label="Adhérer à l'association ou faire un don via HelloAsso"
    target="_blank"
    rel="noopener"
    class="donation-form-link"
  >
    Adhérer / Faire un don
  </Button>
</div>
  <div class="donation-form-download">
    <Title text="Paiement par chèque ou virement" level="3" className="donation-form-title" />
    <p>
      Pour tout paiement par chèque ou virement, merci de télécharger et compléter le formulaire ci-dessous, puis de le retourner à l’adresse indiquée.
    </p>
  
  <Button
    href="/formulaire-adhesion-don.pdf"
    download="true"
    target="_blank"
    variant="teal"
    size="sm"
    aria-label="Télécharger le formulaire d'adhésion et don PDF"
    class="donation-form-link"
  >
    Télécharger le formulaire PDF
  </Button>
  


  </div>

</section>
