---
import Title from "../Title/Title.astro";
import '../../styles/variables.css';
import './Donations.css';

---

<section class="explanation">
      <Title text="Adhésions & Dons" level='3' className="explanation-title"/>

  <p>
    Il existe deux types d’adhésion&nbsp;:
    <ul>
      <li>
        <strong>Solidaire</strong> : envoi gratuit à la demande de 2 stickers «&nbsp;Handicap hyperacousie&nbsp;».
      </li>
      <li>
        <strong>Premium</strong> : envoi gratuit à la demande de 2 stickers «Handicap hyperacousie» + une carte «Handicap auditif».
      </li>
    </ul>
    Il est aussi possible de faire un don libre sans adhérer.<br />
    <br />
    <strong>Offre spéciale :</strong> l’adhésion est offerte jusqu’à la fin de l’année, car l’adhésion est normalement calendaire.<br />
    Toute adhésion aujourd’hui est valable jusqu’au <strong>31/12/2026</strong>.
  </p>
</section>
