---
import testimonials from '../../data/shortTestimonials.json';
import './ShortTestimonials.css';
import '../../styles/variables.css';
---

<section>
  <div class="swiper short-testimonials-swiper">
    <div class="swiper-wrapper">
      {testimonials.map((item) => (
        <div class="swiper-slide">
          <div class="testimonial-card">
            <img src="/quote-top-left.webp" alt="" class="quote-img quote-top-left" aria-hidden="true" />
            <img src="/quote-bottom-right.webp" alt="" class="quote-img quote-bottom-right" aria-hidden="true" />
            <p class="testimonial-text">"{item.testimonial}"</p>
            <p class="testimonial-name">- {item.name}, {item.age}</p>
          </div>
        </div>
      ))}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
<script src="./ShortTestimonials.js"></script>