---
import testimonials from '../../data/shortTestimonials.json';
import './ShortTestimonials.css';
---

<section>
    <h2>Short Testimonials Component</h2>
    <p>This is a placeholder for the ShortTestimonials component.</p>
</section>